<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation du Mot de Passe</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="reset-form">
        <h1>Réinitialiser votre mot de passe</h2>
            <form id="resetPasswordForm">
                <H3 id="email-text""><%= email%></H3>
                <input type="hidden" id="email" name="email" value="<%= email %>">
                <input type="password" id="password" name="password" placeholder="Nouveau mot de passe" required>
                <button type="submit">Réinitialiser le mot de passe</button>
            </form>            
    </div>
    <script src="/js/script.js"></script>
</body>
</html>
